# 通用配置
TZ=Asia/Shanghai

# 应用配置
APP_PORT=8001

# PostgreSQL 数据库
DB_PG_DEFAULT_TAG=18.3-bookworm
DB_PG_DEFAULT_PORT=5432
DB_PG_DEFAULT_USER=postgres
DB_PG_DEFAULT_PASSWORD=your_secure_password_here
DB_PG_DEFAULT_DB=service_data

# Redis 缓存
CACHE_REDIS_DEFAULT_TAG=8.2.5-bookworm
CACHE_REDIS_DEFAULT_PORT=6379
CACHE_REDIS_DEFAULT_PASSWORD=your_redis_password_here

# MySQL 数据库（可选）
#DB_MYSQL_DEFAULT_TAG=8.0
#DB_MYSQL_DEFAULT_PORT=3306
#DB_MYSQL_DEFAULT_USER=root
#DB_MYSQL_DEFAULT_PASSWORD=secret_password
#DB_MYSQL_DEFAULT_ROOT_PASSWORD=secret_password
#DB_MYSQL_DEFAULT_DB=service_data

# InfluxDB 时序数据库（可选）
#DB_INFLUXDB_DEFAULT_TAG=2.7
#DB_INFLUXDB_DEFAULT_PORT=8086
#DB_INFLUXDB_DEFAULT_USERNAME=admin
#DB_INFLUXDB_DEFAULT_PASSWORD=secret_password
##DB_INFLUXDB_DEFAULT_ADMIN_TOKEN=secret_token0==
#DB_INFLUXDB_DEFAULT_ORG=service_data
#DB_INFLUXDB_DEFAULT_BUCKET=service_data

# pgAdmin 数据库管理
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
